* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

div {
  vertical-align: baseline;
}

:root {
  --bg-color: #d45649;
  --white: #fff;
  --bgBlue: #519cd7;
  --bgGray: #99a5a5;
  --bgOrange: #e27f65;
}

.text-links {
  display: none;
}

.logo {
  margin: 0 auto 1rem auto;
}

.logo-text {
  font-size: 1.6rem;
  font-weight: 800;
}

.fas,
.far {
  font-size: 18px;
}

.fa-globe {
  font-size: 40px;
  color: var(--white);
}

.fa-wifi {
  transform: rotate(40deg);
}

.fai {
  font-size: 40px;
}

.bg-color {
  background-color: var(--bg-color) !important;
}

.text-orange {
  color: var(--bg-color) !important;
}

.bgOrange {
  background-color: var(--bgOrange);
}

.bgGray {
  background-color: var(--bgGray);
}

.bgBlue {
  background-color: var(--bgBlue);
}

.more {
  width: 100%;
}

.more .img {
  width: 250px;
  height: 250px;
}

nav {
  justify-content: center;
}

.nav-container {
  padding: 16px;
  flex-direction: column;
}

.nav-bar {
  padding: 0 1.5rem;
}

.hero-image {
  background: url(/assets/hero-img.jpg) center;
  height: 70vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-search {
  opacity: 0.9;
}

form {
  margin: 0 16px;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .link-list {
    margin: auto;
    padding: 10px 25px;
  }

  .logo {
    margin: auto !important;
  }

  .logo-text {
    font-size: 28px;
    font-weight: 800;
  }

  .fas,
  .far {
    font-size: 20px;
  }

  .fai {
    font-size: 50px;
  }

  .fa-globe {
    font-size: 40px;
    height: 50px;
    color: var(--white);
  }

  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .link-list {
    margin: auto;
    padding: 10px 25px;
  }

  .text-links {
    display: inline;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
  }

  .fai {
    font-size: 50px;
  }

  .more .flex-lg-row {
    flex-direction: row !important;
  }
}
